@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

html {
	margin: 0;
	padding: 0;
	overflow-x: hidden; 
	scroll-behavior: smooth;
}

body {
	margin:0;
	padding:0;
}

section {
	display:block;
}

.navigationLogo {
	display:inline-block;
	margin-top: 8px;
	margin-left:63px;
	background: url(assets/img/BlackLogo.jpg);
}


@media screen and (max-width: 768px) {
    .navigationLogo {
        margin-top: 25px;
        margin-left: 60px;
    }
}

@media screen and (max-width: 320px) {
    .navigationLogo { margin-left: 0; }
}

@media screen and (max-width: 768px) {
    .navigationLogo img {
        width: 128px;
        margin-top: -15px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 320px) {    
    .navigationLogo img {
        width: 78px;
        margin-top: -30px;
        margin-left: 20px;
    }
}

.navigation {
	position: relative;
	display:flex;
	justify-content: space-between;
	align-items:center;
	height: 92.51px;
	z-index:2;
	background: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .navigation { height: 74.01px; }
}

@media screen and (max-width: 320px) {
    .navigation { height: 51.72px; }
}

.navigation-inner {
	display: flex;
	flex-grow: 1;
}

.navigation-inner2 {
	display: flex;
	flow-direction:row;
	padding-top: 31px;
}

.navigation-item {
	display: block;
	font-family: "Montserrat";
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	margin-right: 18px;
	margin-left: 18px;
	color: #060606;
}

ul {
	margin:0 auto;
	list-style:none;
}

a { text-decoration:none; }

li a:active {
	text-decoration: underline solid 3px #ffa800 !important;
}

#LV {
	font-family: "Montserrat";
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	list-style:none;
	margin-right:48px;
	padding-top: 31px;
}

@media screen and (max-width: 880px) {
	#LV { display:none;	}
}

.lang-mobile {
	 display: inline-block;
	 padding: 0 45px 0 45px;
 }

@media screen and (max-width: 320px) {
    .mobile-menu { margin-top: -20px; }
}

.mobile-menu-item { margin-top: 75px; }

@media screen and (max-width: 320px) {
    .mobile-menu-item { margin-top: 42px; }
}

header {
  position: relative;
	width:100%;
	display:flex;
	align-items:center;
	justify-content: center;
	flex-direction:column;
}

.sparkleVideo {
	width: 100%;
	margin-top: -45px;
	background: url(assets/img/Sparkle_Video_1.png);
}

@media screen and (max-width: 768px) {
	.sparkleVideo { margin-top: -5px; } 
}

@media screen and (max-width: 320px) {
	.sparkleVideo { margin-top: -3px; } 
}

.vectorSparkleVideo{
	position: absolute;
	top: -8px;	
	width:100%;
}

@media screen and (max-width: 768px) {
    .vectorSparkleVideo { top: 0; }
}

.playButton {
	position: absolute;
	width:9%;
	margin-top: -45px;
	filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 768px) {
	.playButton { 
		width: 17%;
		margin-top: 10px; 
	} 
}

@media screen and (max-width: 320px) {
	.playButton { 
		width: 22%;
		margin-top: 0; 
	} 
}

.play-btn-2 {
	position: absolute;
  width: 9%;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 320px) {
    .play-btn-2 { width: 23%; }
}

.first-section-ideja p, .first-section-uznemejiem p, .about-sapnus-atbalsta {
	margin-top:60px;
	margin-bottom:150px;
	font-family: "Montserrat";
	font-weight: normal;
	font-size: 18px;
	line-height:22px;
	text-align:center;
	color: #2F4858;
}
 
@media screen and (max-width: 768px) { 
    .first-section-ideja p  { margin-top: 50px; }
}

@media screen and (max-width: 320px) { 
    .first-section-ideja p  { 
        margin-bottom: 90px;
        font-size: 12px;
        line-height: 15px;
    }
}

@media screen and (max-width: 320px) {
    .first-section-uznemejiem p {
        font-size: 14px;
        line-height: 17px;
    }
}
 
.first-section-uznemejiem .about-uznemejiem {
  width: 60%;
	margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .first-section-uznemejiem .about-uznemejiem { width: 80%; }
}

@media screen and (max-width: 320px) {
    .first-section-uznemejiem .about-uznemejiem {
        width: 90%;
        margin-top: 50px;
    }
} 

@media screen and (max-width: 320px) {
    .about-sapnus-atbalsta {
        font-size: 14px;
        line-height: 17px;
    }
}
 
.first-section h1, .sapnu-banka-title {
	margin-top: 112px;
	margin-bottom: 65px;
	font-family: "Oswald";
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 71px;
	text-align: center;
	color: #2f4858;
}

@media screen and (max-width: 768px) {
    .first-section h1 {
        margin-top: 95px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 320px) {
    .first-section h1 {
        margin-top: 50px;
        margin-bottom: -20px;
        font-size: 36px;
        line-height: 53px;
    }
}

.sapnu-banka-title { margin-bottom: 65px; }

@media screen and (max-width: 768px) {
    .sapnu-banka-title { 
        margin-top: 95px;
        margin-bottom: 47px;
    }
}

@media screen and (max-width: 320px) {
    .sapnu-banka-title {
        margin-top: 50px;
        margin-bottom: 25px;
        font-size: 36px;
        line-height: 53px;      
    }
}

.first-section-piesaki-sapni p, .first-section-iedvesmas-stasti p {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #2F4858;
}

@media screen and (max-width: 768px) {
    .first-section-piesaki-sapni p {
        width: 80%;
        margin: auto;
    }
}

@media screen and (max-width: 320px) {
    .first-section-piesaki-sapni p {
        margin-top: 50px;
        font-size: 14px;
        line-height: 17px;
    }
}

.first-section-sapnu-banka {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.first-section-sapnus-atbalsta { margin-bottom: 60px; }

@media screen and (max-width: 768px) {
    .first-section-sapnus-atbalsta { margin-bottom: 70px; }
}

@media screen and (max-width: 320px) {
    .first-section-sapnus-atbalsta { margin-bottom: 80px; }
}

@media screen and (max-width: 320px) {
    .first-section-sapnus-atbalsta h1 { margin-bottom: 30px; }
}

.first-section-sapnus-atbalsta select{
	font-family: "Montserrat";
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: center;
	letter-spacing: -0.015em;
	color: #2F4858;
}

@media screen and (max-width: 320px) {
    .first-section-sapnus-atbalsta select {
        font-size: 14px;
        line-height: 17px;
    }
}

.first-section-iedvesmas-stasti { margin-bottom: 140px; }

.secondSection {
	position: relative;
	height:400px;
}

@media screen and (max-width: 768px) {
    .secondSection { height: 225px; }
}

@media screen and (max-width: 320px) {
    .secondSection { height: 352px; }
}

.second-section-piesaki-sapni {
	margin-top: 92px;
	margin-bottom: 150px;
	text-align: center;
}

@media screen and (max-width: 320px) {
    .second-section-piesaki-sapni { margin-bottom: 125px; }    
}

.second-section-piesaki-sapni h3 {
	margin-top: 48px;
	margin-bottom: 23px;
	font-family: "Oswald";
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 44px;
	text-align: center;
	color: #2F4858;
}

@media screen and (max-width: 320px) {
    .second-section-piesaki-sapni h3 {
        margin-top: 25px;
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 27px;
    }
}

.second-section-piesaki-sapni p {
	margin:auto;
	padding-bottom: 95px;
	width: 85%;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #2F4858;
}

@media screen and (max-width: 768px) {
    .second-section-piesaki-sapni p { width: 80%; }
}

@media screen and (max-width: 320px) {
    .second-section-piesaki-sapni p {
        font-size: 12px;
        line-height: 15px;
    }
}

.second-section-ideja {
	position: relative;
	width:100%;
	background-size: cover;
  background-position: left 67% center;	
}

@media screen and (max-width: 768px) {
    .second-section-ideja {
        width: 965px;
        height: 495px;
        background-position: -100px 0;	
    }
}

@media screen and (max-width: 320px) {
    .second-section-ideja {
        width: 921px;
        height: 475px;
        background-position: 520px -5;	
    }
}

.second-section-ideja p {
	position: relative;
	margin-top: 285px;
	font-family: "Oswald";
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	color: #FFFFFF;
}


@media screen and (max-width: 768px) {
    .second-section-ideja p { margin-top: 65px; }
}

@media screen and (max-width: 320px) {
    .second-section-ideja p { 
        font-size: 18px;
        line-height: 27px;
    }
}

.second-section-sapnu-banka {
	margin-top: 150px;
	margin-bottom: 155px;
}

@media screen and (max-width: 320px) {
    .second-section-sapnu-banka {
        margin-top: 122px; 
        margin-bottom: 125px;
    }
}

.second-section-sapnu-banka div {
	position: relative;
	display: flex;
}

@media screen and (max-width: 1050px){
	.second-section-sapnu-banka div {
		flex-wrap: wrap;
	}
}

.second-section-sapnus-atbalsta {
    position: relative;
    height: 650px;
    margin-bottom: 125px; 
    z-index: -1;
}

@media screen and (max-width: 768px) {
    .second-section-sapnus-atbalsta {
        height: 785px;
        margin-bottom: 85px; 
    }
}

@media screen and (max-width: 320px) {
    .second-section-sapnus-atbalsta { margin-bottom: 100px; }
}

.fourth-section-sapnu-banka {
	margin-top: 150px;
	margin-bottom: 155px;
}

@media screen and (max-width: 768px) {
    .fourth-section-sapnu-banka { margin-top: 125px; }
}

@media screen and (max-width: 320px) {
    .fourth-section-sapnu-banka { margin-top: 110px; }
}

.sb-background-1 { width: 100%; }

.sb-misija { margin-top: 10px; }

.sb-heading, .third-section-iedvesmas-stasti h2 {
	font-family: "Oswald";
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 44px;
	text-align: center;
	color: #2F4858;
}

@media screen and (max-width: 320px) {
    .sb-heading {
        font-size: 24px;
        line-height: 36px;
    }
}

.third-section-iedvesmas-stasti h2 { padding-top: 138px;}

.uznemums-heading {
	padding-top: 75px;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: -0.015em;
	color: #FFA800;
}

@media screen and (max-width: 768px) {
    .uznemums-heading { padding-top: 68px; }
}

@media screen and (max-width: 320px) {
    .uznemums-heading {
        margin-top: 15px;
        font-size: 14px;
        line-height: 17px;        
    }
}

@media screen and (max-width: 320px) {
    .uznemums-heading-2 { margin-top: -25px; }
}

.map { overflow: hidden; }

@media screen and (max-width: 768px) {
    .map { height: 812px; }
}

select {
	width: 288px;
	height: 43px;
	background: #C4C4C466;
	border-radius: 6px;
	border:none;
	padding-left: 10px;
}

.ripped-top {
	position: absolute;
	width: 100%;
	z-index:1;
	background: url(assets/img/ripped.png);
}

.ripped-bottom {
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
	background: url(assets/img/ripped.png);
}

@media screen and (max-width: 768px) {
    .ripped-bottom { bottom: 7px; }
}

@media screen and (max-width: 320px) {
    .ripped-bottom { bottom: -10px; }
}

.ripped-bottom-ideja {
	position: relative;
	left: 0;
	bottom: -5px;
	width: 100%;
}

@media screen and (max-width: 768px) {
	.firstImage {
		float:left;
		width: 24%;		
		height: 200px;
		background-repeat: no-repeat;
		background-size: cover;		
	}
	
	.secondImage {
		float:left;
		width: 24.5%;
		height: 206px;
		background-repeat: no-repeat;
		background-size: cover;		
	}
	
	.thirdFourthImage {
		width:22%;
		float:left;
	}
	
	.thirdImage {
		height: 102px;
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	.fourthImage {
		height: 104px;
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	.fifthImage {
		float:left;
		width: 29.5%;
		height: 216px;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

@media screen and (min-width: 769px) {
	div.images {
		padding-top:10px;
	}
}

@media screen and (max-width: 320px) {
    .images { display: none; } 
}

@media screen and (min-width: 769px) {
	.firstImage {
		float:left;
		margin-top: 8px;
		width: 24%;
		height: 355px;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.first-image {
		float: left;
		width: 21%;
		height: 363px;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.secondImage {
		float: left;
		margin-top: 13px;
		width: 24.5%;
		height: 364px;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.second-third-image {
		float: left;
		width: 22%;
	}

	.second-image {
		height: 189px;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.thirdFourthImage {
		width:22%;
		float:left;
	}

	.thirdImage {
		height: 180px;
		margin-top: 13px;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.third-image {
		height: 187px;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.fourthImage {
		height: 184px;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.fourth-image {
		float: left;
		width: 22%;
		height: 376px;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.fifthImage {
		float:left;
		margin-top: -5px;
		width: 29.5%;
		height: 383px;
		background-repeat: no-repeat;
		background-size: cover;
	}
	 
	 .fifth-image {
		float:left; 
		width: 35%; 
		height: 376px;
		background-repeat: no-repeat;
		background-size: cover;
	} 
}

@media screen and (max-width: 768px) {
    .first-image {
      float: left;
      width: 21%;
      height: 199px;
      margin-top: 10px;
      background-repeat: no-repeat;
      background-size: cover;
    }
    
	.second-third-image {
		float: left;
		width: 22%;
	}

	.second-image {
		height: 106px;
		margin-top: 10px;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.third-image {
		height: 105px;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.fourth-image {
		float: left;
		width: 22%;
		height: 211px;
		margin-top: 10px;
		background-repeat: no-repeat;
		background-size: cover;
	}

	 .fifth-image {
		float: left; 
		width: 35%; 
		height: 211px;
		margin-top: 10px;
		background-repeat: no-repeat;
		background-size: cover;
	} 
}

.wrapper {
	margin: auto;
	width:80%
}

@media screen and (max-width: 768px) {
    .wrapper { 
        width: 100%;
        margin: auto;
    }
}

@media screen and (max-width: 320px) {
	.wrapper-atbalsta-mobile {
	    width: 88%;
		margin: auto;
	}	
}

.wrapper-1 {
	margin: 0 auto;
	width: 44%;
}

@media screen and (max-width: 768px) {
    .wrapper-1 { width: 80%; }
}

@media screen and (max-width: 320px) {
    .wrapper-1 { width: 90%; }
}

.wrapper-2 {
	margin: auto;
	padding-top: 225px;
	padding-bottom: 5px;
	width: 60%;
}

@media screen and (max-width: 768px) { 
    .wrapper-2 { margin-left: 100px; }
}

@media screen and (max-width: 320px) { 
    .wrapper-2 {
        width: 30%;
        margin: 0;
        margin-left: 20px;
        padding-top: 185px;
    }
}

.wrapper-3 {
	margin: 0 auto;
	padding-top: 105px;
	padding-bottom: 150px;
	width: 44%;
}

@media screen and (max-width: 768px) {
	.wrapper-3 {
	    position: relative;
        width: 100%;
	    margin-left: 80px; 
	    padding-top: 110px;
	    padding-bottom: 65px;
	}
}

@media screen and (max-width: 320px) {
	.wrapper-3 {
	    width: 90%;
	    margin-left: 20px;
	    padding-top: 85px;
	    padding-bottom: 285px;
	}
}

.wrapper-merkis-1 {
	margin-top: 90px;
	margin-bottom: 90px;
}

@media screen and (max-width: 768px) {
    .wrapper-merkis-1 { margin-bottom: 70px; }
}

@media screen and (max-width: 320px) {
    .wrapper-merkis-1 {
        margin-top: 60px;
        margin-bottom: 55px;
    }
}

.wrapper-merkis-2 {
	margin-top: 105px;
	margin-bottom: 90px;
}

@media screen and (max-width: 768px) {
    .wrapper-merkis-2 { margin-top: 72px; }
}

@media screen and (max-width: 320px) {
    .wrapper-merkis-2 { 
        margin-top: 20px; 
        margin-bottom: 35px;
    }
}

.wrapper-merkis-3 {
	margin-top: 105px;
	margin-bottom: 150px;
}

@media screen and (max-width: 768px) {
    .wrapper-merkis-3 { 
        margin-top: 80px; 
        margin-bottom: 145px;
    }
}

@media screen and (max-width: 320px) {
    .wrapper-merkis-3 { 
        margin-top: 50px;
        margin-bottom: 110px;
    }
}

.wrapper-sapnu-banka {
	margin-top: -26px;
  margin-bottom: 40px;
	text-align: center;
}

.about-sparkleheart {
	margin:auto;
	margin-top:150px;
	margin-bottom:155px;
	width: 48%;
	font-family: "Montserrat";
	font-weight: normal;
	font-size: 18px;
	line-height:22px;
	text-align:center;
	color: #2F4858;
}

@media screen and (max-width: 768px) {
	.about-sparkleheart { width: 82%; } 
}

@media screen and (max-width: 320px) {
    .about-sparkleheart {
        margin-top: 80px;
        margin-bottom: 85px;
        width: 90%;
        font-size: 12px;
        line-height: 15px;
    }
}

.about-uznemejiem {
	margin: auto;
	width: 109%;
}

.merkis-logo-1, .merkis-logo-3 {
	margin-left: 380px;
}

@media screen and (max-width: 768px) {
    .merkis-logo-1, .merkis-logo-3 { margin-left: 110px; }
}

@media screen and (max-width: 320px) {
    .merkis-logo-1, .merkis-logo-3 { margin-left: 100px; }
}

@media screen and (max-width: 320px) {
    .merkis-logo-2 {
        order: 1;
        margin-left: 100px;
    }
}

.merkis-logo-img { 
  position: relative; 
  width: auto;
  max-width:100%;
  height: auto;
} 

@media screen and (max-width: 320px) {
    .merkis-logo-1 img {
        width: 118px;
        height: 118px;
    }
    
    .merkis-logo-2 img {
        width: 118px;
        height: 103px;
    }
    
    .merkis-logo-3 img {
        width: 118px;
        height: 79px;
    }
}

.merkis-paragraph-1, .merkis-paragraph-3 { 
    width: 40%;
    padding-top: 12px;
    padding-left: 1%; 
}

.merkis-paragraph-2 { 
    width: 42%;	
    padding-left: 11%; 
}

@media screen and (max-width: 768px) {
    .merkis-paragraph-1 {
        width: 55%;
        padding-right: 5%;
    }
}

@media screen and (max-width: 320px) {
    .merkis-paragraph-1 {
        width: 95%;
        padding-right: 6%;
    }
}

@media screen and (max-width: 768px) {
    .merkis-paragraph-2 { 
	    width: 55%;
	    padding-left: 10%; 
    }
}

@media screen and (max-width: 320px) {
    .merkis-paragraph-2 { 
	    order: 2;
	    width: 95%;
	    padding-top: 10px;
	    padding-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .merkis-paragraph-3 {
        width: 55%;
        padding-right: 5%;
    }
}

@media screen and (max-width: 320px) {
    .merkis-paragraph-3 { width: 95%; }
}

.about-merkis {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #2f4858;
}

@media screen and (max-width: 320px) {
    .about-merkis {
        font-size: 12px;
        line-height: 15px;
        text-align: center;
    }
}

.atlasis-logo-1 { margin-left: 20px; }

@media screen and (max-width: 768px) {
    .atlasis-logo-1 {
        width: 102.04px;
        height: 100px;
        margin-left: 90px;
    }
}

@media screen and (max-width: 320px) {
    .atlasis-logo-1 { margin-left: 0; }
}

.atlasis-logo-2 {
	margin-top: 30px;
  margin-left: -20px; 
}

@media screen and (max-width: 768px) {
    .atlasis-logo-2 {
        width: 160.15px;
        height: 100px;
        margin-top: 0;
        margin-left: 20px;
    }
}

@media screen and (max-width: 320px) {
    .atlasis-logo-2 {
        width: 125.64px;
        height: 80px;
        margin-top: 15px;
        margin-left: 0;
    }
}

.about-sapnus-atlasis-paragraph {
	margin: auto;
	width: 55%;
}

.paragr-1 { margin-right: 115px; }

@media screen and (max-width: 768px) {
    .paragr-1 { 
        width: 70%; 
        margin-left: 90px;
    }
}

@media screen and (max-width: 320px) {
    .paragr-1 { 
        width: 88%; 
        margin-left: 0;
    }
}

.paragr-2 {	margin-left: 115px; }

@media screen and (max-width: 768px) {
    .paragr-2 { 
        width: 62%; 
        margin-left: 90px;
    }
}

@media screen and (max-width: 320px) {
    .paragr-2 { 
        width: 88%; 
        margin-left: 0;
    }
}

@media screen and (max-width: 320px) {
    .img-group-14 {
        width: 269px;
        margin-bottom: -10px;
    }
}

@media screen and (max-width: 1366px) {
    .img-group-19 { margin-right: 35px; }
}

@media screen and (max-width: 320px) {
    .img-group-19 {
        width: 280px;
        margin-right: 0;
    }
}


.about-merkis-1, .about-merkis-3 {
	margin-left: 45px;
	text-align: left;
}

@media screen and (max-width: 768px) {
    .about-merkis-1, .about-merkis-3 {
        margin-top: 0;
        margin-left: 65px;
    }
}

@media screen and (max-width: 320px) {
    .about-merkis-1 {
        width: 95%;
        margin-top: 15px;
        margin-left: 22px;
    }
}

.about-merkis-2 {
	margin-right: 48px;
	text-align: right;
}

@media screen and (max-width: 768px) {
    .about-merkis-2 {
        margin-right: 65px;
    }
}

@media screen and (max-width: 320px) {
    .about-merkis-2 {
        margin-right: 0;
	    margin-left: 22px;
    }
}

@media screen and (max-width: 320px) {
    .about-merkis-3 { margin-left: 22px; }
}

@media screen and (max-width: 320px) {
    .about-merkis-1, .about-merkis-2, .about-merkis-3 { text-align: center; }
}

.about-misija, .about-sapnus-atlasis {
	padding-top: 27px;	
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #2f4858;
}

@media screen and (max-width: 768px) {
    .about-misija { padding-top: 5px; }
}

@media screen and (max-width: 320px) {
    .about-misija {
        width: 95%;
        margin: auto;
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (max-width: 768px) {
    .about-sapnus-atlasis {
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (max-width: 320px) {
    .about-sapnus-atlasis {
        margin: auto;
        padding-top: 26px;
    }
}


.uznemums-1 { margin-bottom: 50px; }

@media screen and (max-width: 320px) {
    .uznemums-1, .uznemums-2 { display: none; }
}

.uznemuma-logo { margin-left: 132px; }

@media screen and (max-width: 768px) { 
    .uznemuma-logo { margin-left: 80px; }
}

@media screen and (max-width: 768px) {
    .uznemuma-logo-1 {
        width: 98px;
        height: 98px;
    }
}

.uznemuma-logo-2 { margin-top: -15px; }

@media screen and (max-width: 768px) {
    .uznemuma-logo-2 {
        width: 98px;
        height: 80px;
        margin-top: -10px;
    }
}

.uznemums-name {
  margin-left: 95px;
	padding-top: 27px;	
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #2f4858;
}

@media screen and (max-width: 768px) {
    .uznemums-name-1 { margin-left: 30px; }
}

.uznemums-name-2 { padding-top: 0; }

@media screen and (max-width: 768px) {
    .uznemums-name-2 {
        padding-top: 25px;
        margin-top: -10px;
        margin-left: 30px; 
    }
}

.uznemums-name-1, .about-uznemums-1 { padding-top: 30px; }

@media screen and (max-width: 768px) {
    .uznemums-name-1, .about-uznemums-1 { padding-top: 20px; }
}

.about-uznemums, .about-uznemums-tablet {
	margin: auto 80px auto auto;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	text-align: right;
	color: #2f4858;
}


.about-uznemums-2 { margin-top: 15px; }

@media screen and (max-width: 768px) {
    .about-uznemums-2 { display: none; }
    
    .about-uznemums-tablet { 
        display: block;
        margin-top: -5px;
        margin-right: 80px; 
    }
}

@media screen and (min-width: 769px) {
    .about-uznemums-tablet { display: none; }
}

.about-sapni-paragraph-1 { 
	margin: auto;
	padding-top: 36px; 
	width: 60%;
}

@media screen and (max-width: 768px) {
    .about-sapni-paragraph-1 { width: 80%; }
}

@media screen and (max-width: 320px) {
    .about-sapni-paragraph-1 {
        width: 88%;
        padding-top: 40px;
    }
}

.about-sapni-paragraph-2 { 
	margin: auto;
	padding-top: 36px; 
	width: 70%;
}

@media screen and (max-width: 768px) {
    .about-sapni-paragraph-2 { width: 80%; }
}

@media screen and (max-width: 320px) {
    .about-sapni-paragraph-2 { width: 90%; }
}

.about-sapnus-atbalsta {
	margin: auto;
	width: 60%;
}

@media screen and (max-width: 768px) {
    .about-sapnus-atbalsta { width: 80%; }
}

@media screen and (max-width: 320px) {
    .about-sapnus-atbalsta { width: 90%; }
}

.about-komanda {
	margin: auto;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #2f4858;
}

.about-komanda { width: 45%; }

.selected-riga { 
	margin-top: 150px;
	display: none; 
}

.komanda-member {
	position: relative;
	margin-bottom: -20px;
	padding: 0 15% 0 11%;
	font-family: "Oswald";
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	color: #ffffff
}

.komanda-member-about {
	position: relative;
	font-family: "Montserrat";
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	text-align: center;
	color: #ffffff;
}

.komanda-member-3 {
	padding-left: 5px;
	width:96%;	
}

.arrow-btn { padding-top: 6px; }

@media screen and (max-width: 320px) {
    .arrow-btn { padding-top: 20px; }
}

.right-arrow-btn {	margin-left: 40px; }

@media screen and (max-width: 768px) {
    .right-arrow-btn { margin-left: 65px; }
}

@media screen and (max-width: 320px) {
    .right-arrow-btn { margin-left: 40px; }
}

.wrapper-stasti {
	margin: auto;
	width: 1045px;
}

@media screen and (max-width: 1050px) {  
	.wrapper-stasti { width: 700px; }
}

@media screen and (max-width: 720px) {  
	.wrapper-stasti { width: 350px; }
}

.iedvesmas-stasts-number {
	position: absolute;
	right: 15px;
	bottom: -46px;
	font-family: "Oswald";
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 53px;
	text-align: right;
	z-index: 2;
	color: #ffffff;
}

.iedvesmas-stasts-background {
	position: absolute;
}

.stasts {
	position: relative;
	width: 160px;
	height: 160px;
	margin: 7px;
	float: left;
	background-repeat: no-repeat;
}

.stasts-name {
	position: relative;
	margin: auto;
	padding-top: 42px;
	width: 50%;
	font-family: "Oswald";
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	color: #ffffff;
}

.stasts-coming {
	position: relative;
	padding-top: 35px;
	font-family: "Oswald";
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	color: #ffffff;
}

@media screen and (min-width: 768px) {
	.row {
		display: flex;
		flex-wrap:wrap;
		justify-content: center;
	 }
 
	.last-row {
		display: flex;
		margin-left: 23%;
	} 
}

@media screen and (min-width: 768px) {
	.row-tablet { flex-wrap: nowrap; }
}

.column {
	position:relative;
	width:100%;
	flex-grow:1;
	flex-basis: 0;
}

@media screen and (max-width: 768px) {
    .column { flex-basis: content; }
}

.column-inner { height:130px; }

.col-personigais-sapnis { margin-right: 180px; }

@media screen and (max-width: 768px) {
    .col-personigais-sapnis { margin-right: 0; }  
}

@media screen and (max-width: 320px) {
    .col-personigais-sapnis img { height: 190px; }
}

@media screen and (max-width: 320px) {
    .col-personigais-sapnis p { width: 88%; }
}

@media screen and (max-width: 768px) {
	.column-sapnis { margin-top: 165px; }
}

@media screen and (max-width: 320px) {
	.column-sapnis { margin-top: 85px; }
}

@media screen and (max-width: 320px) {
	.column-sapnis img { 
	    height: 185.7px; 
	    margin-left: 40px;
	}
}

@media screen and (max-width: 320px) {
    .column-sapnis p { width: 88%; }
}

.column-sb {
	padding-top: 38px;	
	text-align:center; 
}

@media screen and (max-width: 320px) {
    .column-sb { padding-top: 48px; }
}

.col-1 {
	display: flex;
	flex-direction: column;
	margin-right: 30px;
}
.col-2 {
	display: flex;
	flex-direction: column;
}

.column-komanda {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 365px;
	width: 289px;
	margin-top: 58px;
}

@media screen and (max-width: 880px) {
	.column-komanda { margin: 15px auto 15px auto; }
	.column-komanda-2 { margin-left: auto; }
}

@media screen and (min-width: 881px) {
	.column-komanda-2 { margin-left: 85px; }
	.column-komanda-3 { margin-left: 82px; }
}
.third-section { margin-top: 25px; }

@media screen and (max-width: 320px) {
    .third-section { 
        margin-top: 130px; 
        margin-bottom: 125px;
    }
}

.third-section-sapnu-banka, .fifth-section-sapnu-banka {
	padding-top: 100px;
	padding-bottom: 60px;
	background-size: 100% 100%;
}

@media screen and (max-width: 1366px) {
	.third-section-sapnu-banka, .fifth-section-sapnu-banka { background-size: cover; }
} 

@media screen and (max-width: 768px) {
    .fifth-section-sapnu-banka {
        padding-top: 100px;
	    padding-bottom: 10px;         
    }
}

@media screen and (max-width: 320px) {
    .fifth-section-sapnu-banka {
       padding-top: 55px;
	   padding-bottom: 50px;         
    }
}

.third-section-iedvesmas-stasti {
	margin-top: 100px;	
	margin-bottom: 310px; 
	clear: both;
}

.third-section-sapnu-banka p, .fifth-section-sapnu-banka p {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #ffffff;
}

@media screen and (max-width: 320px) {
    .third-section-sapnu-banka p, .fifth-section-sapnu-banka p {
        font-size: 18px;
        line-height: 22px;
    }
}

.third-section h3, .sixth-section-sapnu-banka h3{
	margin-top:125px;
	margin-bottom:40px;
	font-family: "Oswald";
	font-style: normal;
	font-weight:500;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	color: #2f4858;
}

@media screen and (max-width: 768px) {
    .third-section h3 {
        width: 60%;
        margin-left: 80px;
        font-family: "Oswald";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
    }
}

@media screen and (max-width: 320px) {
    .third-section h3 {
        width: 80%;
        margin-top: 60px;
        margin-left: 35px;
    }
}

@media screen and (max-width: 768px) {
    .sixth-section-sapnu-banka h3 {
        margin-top: 150px;
        font-size: 18px;
        line-height: 27px;
    }
}

@media screen and (max-width: 320px) {
    .sixth-section-sapnu-banka h3 {
        margin-top: 133px;
        margin-left: 15px;
    }
}

.sixth-section-sapnu-banka h3 { margin-top: 165px; }

.sixth-section-sapnu-banka { margin-bottom: 310px; }

@media screen and (max-width: 768px) {
    .sixth-section-sapnu-banka { margin-bottom: 240px; }
}

@media screen and (max-width: 320px) {
    .sixth-section-sapnu-banka { 
        margin-top: -55px;
        margin-bottom: 375px; 
    }
}

.third-section-ideja {  margin-bottom: 160px; }

@media screen and (max-width: 320px) {
    .third-section-ideja {  margin-bottom: 145px; }
}

.third-section-ideja h5 {
	font-family: "Oswald";
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	display: flex;
	align-items: center;
	color: #2F4858;
}

@media screen and (max-width: 320px) {
    .third-section-ideja h5 {
        margin-bottom: 60px;
        font-size: 18px;
        line-height: 27px;
    }
}

.ts-ideja-p1 {	
	margin-top: -30px;	
	font-family: "Montserrat";
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: center;
	color: #2F4858;
}

@media screen and (max-width: 320px) {
    .ts-ideja-p1 {
        font-size: 14px;
        line-height: 17px;
    }
}

.ts-ideja-p2 {
	margin-top: 33px;
	width: 92%;
	font-family: "Montserrat";
	font-style: italic;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	display: flex;
	align-items: center;
	color: #2F4858;
}

@media screen and (max-width: 768px) {
    .ts-ideja-p2 { width: 80%; }
}

@media screen and (max-width: 320px) {
    .ts-ideja-p2 {
        width: 95%;
        margin-top: 23px;
        font-size: 12px;
        line-height: 15px;
    }
}

.third-section-piesaki-sapni {
	position: relative;
	height: 400px;
	margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
    .third-section-piesaki-sapni { 
        height: 235px; 
        margin-bottom: 160px;
    }
}

@media screen and (max-width: 320px) {
    .third-section-piesaki-sapni { 
        height: 335px; 
        margin-bottom: 130px;
    }
}

.button-sapnis, .collapse-btn {
	position: absolute;
	width: 233px;
	height: 50px;
	font-family: "Montserrat";
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	left: 50%;
	transform: translateX(-50%);
	border-radius:100px;
	border: none;
	bottom: 0;
	cursor: pointer;
	color: #FFFFFF;
	background: #FFA800;
}

.button-sapnis:hover { background: #FFDA16; }

.collapse-btn { 
	position: relative;
	margin-top: 40px;
}

.button-sapnis:hover {
	background: #FFDA16;
}

@media screen and (min-width: 1051px) {
.collapse-btn {
	display: none;
	}
}

@media screen and (max-width: 1050px) {
.collapse.btn {
	display: block;
	bottom: 0;
	}
.collapse-stasti {
	display: none;
	}
}

.fourthSection h2 {
	margin-top:150px;
	margin-bottom:50px;
	font-family: "Oswald";
	font-weight:500;
	font-size: 30px;
	line-height: 44px;
	text-align: center;
	color: #2F4858;
}

@media screen and (max-width: 768px) {
    .fourthSection h2 { 
        margin-top: 170px;
        margin-bottom: 55px;   
    }
}

@media screen and (max-width: 320px) {
    .fourthSection h2 { 
        margin-top: 75px;
        margin-bottom: 30px;
        font-size: 24px;
        line-height: 36px;    
    }
}

.fourth-section-piesaki-sapni h2 {
  margin-top:150px;
	margin-bottom:50px;
	font-family: "Oswald";
	font-weight:500;
	font-size: 30px;
	line-height: 44px;
	text-align: center;
	color: #2F4858;
}

@media screen and (max-width: 320px) {
  .fourth-section-piesaki-sapni h2 { 
      margin-top: 75px;
      margin-bottom: 30px;
      font-size: 24px;
      line-height: 36px;    
    }
}

.second-section-uznemejiem h2 {
	margin-top:150px;
	margin-bottom:50px;
	font-family: "Oswald";
	font-weight:500;
	font-size: 30px;
	line-height: 44px;
	text-align: center;
	color: #2F4858;
}


@media screen and (max-width: 768px) {
    .second-section-uznemejiem h2 { margin-bottom: 85px; }
}

@media screen and (max-width: 320px) {
    .second-section-uznemejiem h2 {
        margin-bottom: 30px;
        font-size: 24px;
        line-height: 36px;
    }
}

.mobile-title {
	display: none;
}

@media screen and (max-width: 768px) {
	.desktop-title { display: none; }
	.mobile-title { display: block; }
}

.fourth-section-piesaki-sapni, .second-section-uznemejiem { margin-bottom: 405px; }

@media screen and (max-width: 768px) {
    .fourth-section-piesaki-sapni {
        margin-top: -28px;
        margin-bottom: 300px; 
    }
}

@media screen and (max-width: 320px) {
    .fourth-section-piesaki-sapni { 
        margin-top: 5px;
        margin-bottom: 500px; 
    }
}

@media screen and (max-width: 768px) {
    .second-section-uznemejiem { margin-bottom: 300px; }
}

@media screen and (max-width: 320px) {
    .second-section-uznemejiem { 
        margin-top: -35px;
        margin-bottom: 500px; 
    }
}

.sutit-sapni-1 {
	margin: auto;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #ffa800;
}

.sutit-sapni-2 {
	margin: auto;	
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #ffa800;
}

.appear-text {
	display: none;
}

.formWrapper {
	margin:auto;
	width:45%;
}

@media screen and (max-width: 768px) {
	.formWrapper {
		margin: auto;
		width: 80%;
	}
}

@media screen and (max-width: 320px) {
	.formWrapper {
		margin: auto;
		width: 88%;
	}
}

.text-input, textarea {
	font-family: "Montserrat";
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: center;
	letter-spacing: -0.015em;
	height: 40px;
	margin-bottom:9px;
	padding-top:6px;
	padding-left:12px;
	width:100%;
	border:none;
	border-radius: 6px;
	background: rgba(196, 196, 196, 0.4);
	color: #2F4858;
}

@media screen and (max-width: 768px) {
    .text-input, textarea { 
    	height: 40px;
    	margin-bottom: 8px;
    	padding-top: 4px;
    	padding-left: 14px;
    }
}

@media screen and (max-width: 320px) {
    .text-input, textarea {
        height: 35px;
        margin-bottom: -9px;
        font-size: 14px;
        line-height: 17px;
    }
}

.textarea {
	display: block;
	height: 232px;
	resize: none;
}

@media screen and (max-width: 768px) {
    .textarea { 
      height: 230px;
      padding-top: 15px;
    }
}

@media screen and (max-width: 320px) {
    .textarea { height: 150px; }
}

div.columnLeft1 {
	margin-right: 45px;
}

@media screen and (min-width:881px) {
	.columnRight1, .column-full-2, .columnFull2, .columnFull3 {
		margin-right: 17px;
	}
}

p.mustfill {
	margin-top: 20px;
	font-family: "Montserrat";
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #2F4858;
}

@media screen and (max-width: 320px) {
    p.mustfill {
        font-size: 12px;
        line-height: 15px;
    }
}

.checkbox{
	opacity:0;
	margin-top:12px;
}

.checkbox1 {
	width: 16px;
	height: 16px;
	margin-left: -20px;
	margin-right:15px;
	border-radius: 3px;
	background: #E7E7E7;
}

.checkbox2 {
	width: 16px;
	height: 16px;
	margin-right: 22px;
	margin-left: -32px;
	border-radius: 3px;
	background: #E7E7E7;
}

label input {
	opacity: 0;
	margin-top: 13px;
	margin-right: 16px;
	margin-left: -8px;
}

.list-item {
	display:inline-block;
	margin-top: 10px;
	margin-bottom: 11px;
	font-family: "Montserrat";
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #2F4858;
}

@media screen and (max-width: 768px) {
    .list-item { margin-top: -10px; }
}

@media screen and (max-width: 320px) {
    .list-item {
        font-size: 12px;
        line-height: 15px;
    }
}

label {
	width: 95%;
	display: block;
	white-space: nowrap;
}

label span {
	position: relative;
	margin-top: 10px;
	vertical-align: top;
	display: inline-block;
	white-space: normal;
}

@media screen and (max-width: 768px) {
    .text-sapnotajiem, .text-uznemejiem { display: none; }
    
    .text-sapnotajiem-tablet, .text-uznemejiem-tablet { display: block; }
}

@media screen and (min-width: 769px) {
    .text-sapnotajiem-tablet, .text-uznemejiem-tablet { display: none; }
}

@media screen and (max-width: 320px) {
    .text-sapnotajiem-mobile, .text-uznemejiem-mobile { 
        display: block; 
        width: 80%;
    }
    
    .text-sapnotajiem-tablet, .text-uznemejiem-tablet { display: none; }
}

@media screen and (max-width: 320px) {
    .text-sapnotajiem-mobile-sb { margin-top: 166px; }
}

@media screen and (max-width: 320px) {
    .text-uznemejiem-mobile-sb { margin-top: 20px; }
}

@media screen and (max-width: 768px) { 
    .subtitle-uznemejiem { 
        width: 50%;
        margin-left: 83px;
    }
}

@media screen and (max-width: 768px) {
    .subtitle-sapnotajiem { margin-right: 58px; }
}

.button4 {
	position: absolute;
	width: 182px;
	height: 62px;
	font-family: "Montserrat";
	font-size: 24px;
	line-height: 29px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
	border: none;
	border-radius:100px;
	color: #FFFFFF; 
	background: #FFA800;
	cursor:pointer;
	margin-top:30px;
}

.button4:hover { background: #FFDA16; }

@media screen and (max-width: 320px) {
    .button4 {
        width: 140px;
        height: 48px;
        font-size: 18px;
        line-height: 22px;
    }
}

.fifthSection {
	margin-top:242px;
	padding-top: 75px;
	height: 533.32px;
	background-size: cover;
}

@media screen and (max-width: 768px) {
    .fifthSection { 
        height: 299.85px; 
        padding-top: 40px;
    }
}

@media screen and (max-width: 320px) {
    .fifthSection { 
        height: 732.05px;
        padding-top: 10px;
    }
}

.rippedUp3 { width:100%; }

.fifthSection h3{
	font-family: "Oswald";
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	color: #2F4858;
} 

@media screen and (max-width: 320px) {
    .fifthSection h3 { margin-top: 95px;}
}

.logoRow {
	display: flex;
	width:100%;
	margin-top: 80px;
}

@media screen and (max-width: 768px) {
    .logoRow { margin-top: 35px; }
}

@media screen and (max-width: 320px) {
    .logoRow {
      margin-top: 60px;
	    flex-wrap: wrap;
    }
}

.logoColumn {
	width: 50%;
	float:left;
}

.leftside-logos { width:60%; }

@media screen and (max-width: 880px) {
  .leftside-logos { width: 100%; }
}

.rightside-logos {
	width:40%;
	float:left;
}

@media screen and (max-width: 880px) {
	.rightside-logos {
		width: 100%;
		margin-top: 25px;
  }
}

@media screen and (max-width: 320px) {
    .rightside-logos { margin-top: 35px; }
}

@media screen and (max-width: 880px) {
  .logocolumn { width: 50%; }
}

.logo1 img { margin-left: 40%; }

.logo2 img { margin-left: 20%; }

.logo3 img { margin-left: -12%; }

.logo4 img {
	margin-top: -20px;
	margin-left: 7%; 
}

@media screen and (max-width: 768px) {
    .logo1 img {
        width: 144px;
        height: 47px;
    }
    
    .logo2 img {
        width: 123px;
		height: 47px;
		margin-left: 43%;
    }
    
    .logo3 img {
		width: 142px;
		height: 47px;
		margin-left: 33%;
    }
    
    .logo4 img {
        width: 49px;
		height: 71px;
		margin-top: -10px;
		margin-left: 33%;
    }
}

@media screen and (max-width: 320px) {
    .logo1 img {
        width: 130px;
        height: 44px;
        margin-left: 15%;
    }
    
    .logo2 img {
        width: 131px;
		height: 51px;
		margin-left: 5%;
    }
    
    .logo3 img {
		width: 131px;
		height: 44px;
		margin-left: 13%;
    }
    
    .logo4 img {
        width: 48px;
		height: 67px;
		margin-top: -5px;
		margin-left: 32%;
    }
}

.footer {
	margin-top: -160px;
	background-size: cover;
}

@media screen and (max-width: 768px) {
    .footer { margin-top: -90px; }
}

@media screen and (max-width: 320px) {
    .footer { 
        margin-top: -350px;
        background-size: cover;
    }
}

.footer-column {
	flex-grow:1;
	flex-basis:0;
}

@media screen and (max-width: 768px) {
	.footer-column {
		position: relative;
		width: 100%;
		padding-right: 20px;
		padding-left: 20px;
  }
}

@media screen and (max-width: 320px) {
	.footer-column {
	    padding-right: 15px;
	    padding-left: 15px;
    }
}

.footer-leftlogo {
	margin-left: 19%;
	margin-top: 22%;
}

@media screen and (max-width: 768px) {
    .footer-leftlogo {
        width: 162px;
        height: 162px;
        margin-top: 23%;
    }
}

@media screen and (max-width: 320px) {
    .footer-leftlogo {
        width: 100px; 
        height: 100px;
        margin-left: 0;
    }
}

.footer-navigation { margin-top:5px; }

.footer-navigation li { margin-top:22px; }

.footer-navigation a, .footer-text {
	margin-top: -6px;
	font-family: "Montserrat";
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
}

@media screen and (max-width: 320px) {
    .footer-text {
        margin-top: -4px;
        font-size: 12px;
        line-height: 15px;
    }
}

.footer-col-right1 { margin-top: 43px; }

.footer-col-right1 p { margin-left: -38px; }

.footer-col-right2 { margin-top: 43px; }

@media screen and (max-width: 768px) {
   .footer-col-right2 { margin-top: 130px; }
}

@media screen and (max-width: 320px) {
   .footer-col-right2 { 
       margin-top: 40px; 
       margin-left: 5px;
   }
}

.footer-col-right2 p {
	margin-right: 58px;
	text-align:right;
}

@media screen and (max-width: 320px) {
    .footer-col-right2 p { text-align: left; }
}

.footer-menu { margin-top: 66px; }

.heading, .heading-tablet {
	font-family: "Montserrat";
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .heading { display: none; }
}

@media screen and (max-width: 320px) {
    .heading, .heading-tablet {
        font-size: 18px;
        line-height: 22px;
    }
}

.heading-tablet {
    margin-top: 30px;
    margin-left: 60px;
}

@media screen and (min-width: 769px) {
    .heading-tablet { display: none; }    
}

@media screen and (max-width: 320px) {
    .heading-tablet { margin-left: 5px; }
}

.footer-icon {
	float: right;
	margin-top: 30px;
	margin-left: 25px;
}

.footer-icon-1 { margin-right: 58px; }

@media screen and (max-width: 768px) {
    .footer-icon-1 { 
        width: 25px;
        height: 25px;
    }
    
    .footer-icon-2 { 
        width: 12.5px;
        height: 25px;
    }
}

@media screen and (max-width: 320px) {
    .footer-icon {
        float: left;
        margin-right: 20px;
        margin-left: 5px;
    }
}

.copyright, .copyright-mobile {
	margin-left: 60px;
	font-family: "Montserrat";
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .copyright { display: none; }
}

@media screen and (max-width: 768px) {
    .copyright-mobile {
        margin-top: 15px;
        margin-left: 80px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;    
    }
}

@media screen and (max-width: 320px) {
    .copyright-mobile {
        margin-top: 95px;
        margin-left: 20px;
        font-size: 11px;
        line-height: 13px;
    }
}

.privatuma-politika {
	margin-top: -34px;
	margin-right: 60px;
	font-family: "Montserrat";
	font-size: 14px;
	line-height: 17px;
	float:right;
	color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .privatuma-politika {
        margin-right: 80px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }
}

@media screen and (max-width: 320px) {
    .privatuma-politika {
        float: left;
        margin-top: -5px;
        margin-bottom: 30px;
        margin-left: 20px;
        font-size: 11px;
        line-height: 13px;
    }
}

.footer-bottom { 
	height: 1px;
	clear: both; 
}

.scroll-down, .scroll-down-appear{
	position: fixed;
  width: 50px;
	height: 50px;
	top: 150px;
	right: 15px;
	z-index: 4;
}

.scroll-down { visibility: hidden; }

.scroll-down-appear { visibility: visible; }

.scrollDown-icon:hover { color: #FFDA16; }

/* Zemāk mobile view properties*/

.navigation-toggler {
	color: #000000;
	background: #FFFFFF;
	border:none;
	border-color: rgba(0,0,0,.1);
	cursor: pointer;
}

@media screen and (max-width: 320px) {
   .navigation-toggler {
       top: 0;
       right: 0;
   } 
}

.navigation-toggler-icon {
	display: inline-block;
	width: 33px;
	height: 50px;
	margin-right: 60px;
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	background-size: 100% 100%;
}

@media screen and (max-width: 320px) {
    .navigation-toggler-icon {
        width: 25px;
        height: 45px;
        margin-top: -15px;
        margin-right: 10px;
    }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: 3;
  background-color: #FFFFFF;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-logo { margin-left: 62px; }

@media screen and (max-width: 768px) {
    .overlay-logo {
        margin-left: 80px;
        width: 128px;
    }
}

@media screen and (max-width: 320px) {
    .overlay-logo {
        margin-left: 20px;
        width: 76.95px;
    }
}

.overlay-content {
  position: relative;
  top: 8%;
  width: 100%;
  text-align: center;
  margin-left: -105px;
}

@media screen and (max-width: 768px) {
    .overlay-content {
        top: 10.8%;
        margin-left: -40px;
    }
}

@media screen and (max-width: 320px) {
    .overlay-content {
        top: 4%;
        margin-left: -40px;
    }
}

.overlay-content a {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #000000;
	display: block;
	transition: 0.3s;
}

@media screen and (max-width: 320px) {
    .overlay-content a {
        font-size: 18px;
        line-height: 22px;
    }
}

.overlay .closebtn {
	position: absolute;
	top: 15px;
	right: 240px;
	font-size: 50px;
	color: #000000;
}

@media screen and (max-width: 768px) {
    .overlay .closebtn { right: 75px; }
}

@media screen and (max-width: 320px) {
    .overlay .closebtn {
        top: 0;
        right: 20px;
        font-size: 40px;
    }
}

@media screen and (max-height: 450px) {
  .overlay a {
  font-size: 20px
 }
  .overlay {
		font-size: 18px;
		top: 15px;
		right: 35px;
		color: #000000;
	}
}

@media screen and (max-width: 880px) {
  .navigation-inner{
		visibility: hidden;
  }
}

@media screen and (min-width: 880px) {
  .navigation-toggler {
		display: none;
  }
}
 
@media screen and (max-width: 889px) { 
	.navigation-toggler {
		position: absolute;
		display: block;
		top: 20px;
		right: 10px;
	}
}

/* Zemak 2 section properties */
@media only screen and (max-width: 320px) {
	.images-mobile { padding-top: 5px; }
  
  .firstImage-mobile {
		float:left;
		width: 53%;
		height: 183px;
		background-repeat: no-repeat;
		background-size: cover;
	}
  
  .secondImage-mobile {
		float:left;
		width: 47%;
		height: 183px;
		background-repeat: no-repeat;
		background-size: cover;
	}
  
	.thirdFourthImage-mobile {
		width: 43%;
		float:left;
	}
  
	.thirdImage-mobile {
		height: 87px;
		background-repeat: no-repeat;
		background-size: cover;
	}
  
	.fourthImage-mobile {
		height: 87px;
		background-repeat: no-repeat;
		background-size: cover;
	}
  
	.fifthImage-mobile {
		float:right;
		width: 57%;
		height: 174px;
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	
	.secondSection {
		height: 363px;
	}
	/* Zemāk piesaki-sapni bilžu galerija */

  .first-image-mobile {
		float: left;
		width: 49%;
		height: 195px;
    margin-top: -10px;
		background-repeat: no-repeat;
		background-size: cover;
	}
  
  .second-third-image-mobile {
		float: left;
		width: 51%;
	}
  
  .second-image-mobile {
		height: 97px;
    margin-top: -10px;
		background-repeat: no-repeat;
		background-size: cover;
	}
		
	.third-image-mobile {
		height: 98px;
		background-repeat: no-repeat;
		background-size: cover;
	}
  
	.fourth-image-mobile { 
		float: left;
		width: 38%;
		height: 154px;
    margin-top: -5px;
		background-repeat: no-repeat;
		background-size: cover;
	}
	 
	.fifth-image-mobile {
		float: left;
		width: 62%;
		height: 154px;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

/* Zemak footer properties */
@media screen and (max-width: 1080px) {
  .footer-navigation, .footer-col-right1 {
		display:none;
  }
 }

@media screen and (min-width: 769px) {
  .copyright-mobile, .rekviziti-mobile { display:none; }	
}

@media screen and (max-width: 768px) {
  .rekviziti-mobile {
		display: block;
		margin-top: -8px;
		margin-right: 60px;
		text-align: right;
  }
}

@media screen and (max-width: 320px) {
  .rekviziti-mobile {
      margin-top: 17px;
      text-align: left
  }
}

@media screen and (max-width: 768px) {
     .rekviziti {
		font-family: "Montserrat";
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-align: right;
        color: #ffffff;
  }
}

@media screen and (max-width: 320px) {
    .rekviziti {
        font-size: 14px;
        line-height: 17px;
    }
}

 @media screen and (max-width: 768px) {
  .footer-bottom {
		margin-left: 15px;
		margin-right: 15px;
  }
}

.img-juris { width:100%; }
/*  CSS beigas */
