@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

html {
margin: 0;
padding: 0;
overflow-x: hidden; 
scroll-behavior: smooth;
}

body {
margin:0;
padding:0;
}

section {
display:block;
}

.navigationLogo {
display:inline-block;
margin-left:62px;
background: url(assets/img/BlackLogo.jpg);
}

.navigation .navigation-inner {
margin-right:50px;
}

.navigation {
position: relative;
display:flex;
justify-content: space-between;
align-items:center;
height: 92.51px;
z-index:2;
background: #FFFFFF;
}

.navigation-inner {
display: flex;
flex-grow: 1;
}

.navigation-inner2 {
display: flex;
flow-direction:row;
padding-top: 20px;
}

.navigation-item {
display:block;
font-family: 'Montserrat', sans-serif;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align:center;
margin-right:25px;
color: #060606;
}

ul {
margin:0 auto;
list-style:none;
}

a {
text-decoration:none;
}

#LV {
font-family: 'Montserrat', sans-serif;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: center;
list-style:none;
margin-right:40px;
padding-top: 20px;
}

@media screen and (max-width: 880px) {
#LV {
	display:none;	
 }
}
header {
    position: relative;
	width:100%;
	display:flex;
	align-items:center;
	justify-content: center;
	flex-direction:column;
}

.sparkleVideo {
width: 100%;
margin-top:-50px;
background: url(assets/img/Sparkle_Video_1.png);
}

.vectorSparkleVideo{
position: absolute;
top: -12px;	
width:100%;

}

.playButton {
position: absolute;
width:9%;
margin-top: -45px;
filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
}

.play-btn-2 {
	position: absolute;
  width: 9%;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
}

.first-section-ideja p, .first-section-uznemejiem p, .about-sapnus-atbalsta {
margin-top:60px;
margin-bottom:150px;

font-family: "Montserrat";
font-weight: normal;
font-size: 18px;
line-height:22px;
text-align:center;
color: #2F4858;
}
 
.first-section h1, .sapnu-banka-title {
margin-top: 112px;
margin-bottom: 65px;
font-family: "Oswald";
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 71px;
text-align: center;

color: #2f4858;
}

.first-section-piesaki-sapni p, .first-section-iedvesmas-stasti p {
font-family: "Montserrat";
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
text-align: center;

color: #2F4858;
}

.first-section-sapnu-banka {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.first-section-iedvesmas-stasti { margin-bottom: 100px; }

.secondSection {
position: relative;
height:400px;
}

.second-section-piesaki-sapni {
	margin-top: 92px;
	margin-bottom: 150px;
	text-align: center;
}

.second-section-piesaki-sapni h3 {
margin-top: 48px;
margin-bottom: 23px;
font-family: "Oswald";
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 44px;
text-align: center;

color: #2F4858;
}

.second-section-piesaki-sapni p {
margin:auto;
padding-bottom: 90px;
width: 63%;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-align: center;

color: #2F4858;
}

.second-section-ideja {
	position: relative;
	width:100%;
	background-size: cover;
  background-position: left 50% center;	
}

.second-section-ideja p {
position: relative;
margin-top: 285px;
font-family: "Oswald";
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #FFFFFF;
}

.second-section-sapnu-banka, .fourth-section-sapnu-banka {
	margin-top: 150px;
	margin-bottom: 100px;
}

.sb-background-1 {
	width: 100%;
}

.sb-heading, .third-section-iedvesmas-stasti h2 {
font-family: "Oswald";
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 44px;
text-align: center;

color: #2F4858;
}

.third-section-iedvesmas-stasti h2 { padding-top: 100px;}

.uznemums-heading {
	font-family: "Montserrat";
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
letter-spacing: -0.015em;

color: #FFA800;
}

select {
	width: 288px;
	height: 43px;
	background: #C4C4C466;
	border-radius: 6px;
	border:none;
	padding-left: 10px;
}

.ripped-top {
position: absolute;
width: 100%;
z-index:1;

background: url(assets/img/ripped.png);
}

.ripped-bottom {
left: 0;
bottom: 0;
position: absolute;
width: 100%;

background: url(assets/img/ripped.png);
}

.ripped-bottom-ideja {
position: relative;
left: 0;
bottom: -5px;
width: 100%;
}

@media screen and (min-width: 881px) {
div.images {
padding-top:10px;
}

div.firstImage {
float:left;
margin-top: 8px;
width: 24%;
height: 355px;
background-repeat: no-repeat;
background-size: cover;
}

.first-image {
	float: left;
	width: 21%;
	height: 355px;
	background-repeat: no-repeat;
  background-size: cover;
}

div.secondImage {
float:left;
margin-top: 13px;
width: 24.5%;
height: 364px;
 background-repeat: no-repeat;
 background-size: cover;
}

.second-third-image {
	float:left;
	width: 22%;
}

.second-image {
	height: 189px;
	background-repeat: no-repeat;
	background-size: cover;
}

div.thirdFourthImage {
width:22%;
float:left;
}

div.thirdImage {
height: 180px;
margin-top: 13px;
background-repeat: no-repeat;
background-size: cover;
}

.third-image {
	height: 187px;
	background-repeat: no-repeat;
	background-size: cover;
}

div.fourthImage {
height: 184px;
background-repeat: no-repeat;
background-size: cover;
}

.fourth-image {
	float: left;
	width: 22%;
	height: 376px;
	background-repeat: no-repeat;
	background-size: cover;
}

div.fifthImage {
float:left;
margin-top: -5px;
width: 29.5%;
height: 383px;
 background-repeat: no-repeat;
 background-size: cover;
 }
 
 .fifth-image {
	float:left; 
	width: 35%; 
	height: 376px;
	background-repeat: no-repeat;
	background-size: cover;
}
 
}

.wrapper {
	margin: auto;
	width:75%
}

.wrapper-1 {
	margin: auto;
	width: 55%;
}

.wrapper-2 {
	margin: auto;
	padding-top: 225px;
	padding-bottom: 5px;
	width: 60%;
}

.wrapper-3 {
	margin: auto;
	padding-top: 105px;
	padding-bottom: 150px;
	width: 44%;
}

.wrapper-merkis {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 100px;
}

.wrapper-sapnu-banka {
	margin: auto;
	width: 45%;
	text-align: center;
}

.about-sparkleheart {
margin:auto;
margin-top:150px;
margin-bottom:155px;
width: 48%;

font-family: 'Montserrat';
font-weight: normal;
font-size: 18px;
line-height:22px;
text-align:center;
color: #2F4858;
}

.about-juris {
	margin: auto;
	width: 80%;
}

.about-uznemejiem {
	margin: auto;
	width: 109%;
}
.merkis-logo-1 {
width: 7%;	
margin-left: 90px; 
}

.merkis-logo-2 { width: 35%; }

merkis-paragraph-1 { width: 44%; }

.about-merkis, .about-sapnus-atlasis {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #2f4858;
}

.about-sapnus-atlasis-paragraph {
	width: 31%;
	margin: auto;
}

.merkis-paragraph-1 {
	width: 55%;
}

.about-merkis-1, .about-merkis-3 {
	margin-left: 100px;
	text-align: left;
}

.about-merkis-2 {
	width: 36%;
	margin-right: 80px;
	text-align: right;
}

.about-misija, .uznemums-name {
font-family: "Montserrat";
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
text-align: center;

color: #2f4858;
}

.about-sapnus-atbalsta { 
width: 45%;
margin: auto;
}
.uznemums-name { 
margin: auto;
}

.about-uznemums { text-align: right; }

.about-komanda, .about-uznemums {
font-family: "Montserrat";
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #2f4858;
}

.selected-riga { 
margin-top: 150px;
display: none; 
}

.komanda-member {
	position: relative;
margin-top: 225px;
font-family: "Oswald";
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #ffffff
}

.komanda-member-about {
position: relative;
font-family: "Montserrat";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 22px;
text-align: center;

color: #ffffff;
}

.komanda-member-3 { 
	width:80%; 
	margin: auto;
}

.arrow-btn { padding-top: 6px; }

.right-arrow-btn {	margin-left: 40px; }

.wrapper-stasti {
	margin: auto;
	width: 60%;
}

.iedvesmas-stasts-number {
position: absolute;
right: 5px;
bottom: -30px;
font-family: "Oswald";
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 53px;
text-align: right;
z-index: 2;
color: #ffffff;
}

.iedvesmas-stasts-background {
	position: absolute;
}

.stasts {
	position: relative;
	width: 160px;
	height: 160px;
	margin: 5px;
	float: left;
	background-repeat: no-repeat;
}

.stasts-name {
	position: relative;
	padding-top: 40px;
	font-family: "Oswald";
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #ffffff;
}

.stasts-coming {
	position: relative;
padding-top: 40px;
font-family: "Oswald";
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 27px;
text-align: center;

color: #ffffff;
}

@media screen and (min-width: 881px) {
.row {
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
 }
 
.last-row {
	display: flex;
	margin-left: 23%;
} 
 
}

div.column {
position:relative;
width:100%;
flex-grow:1;
flex-basis: 0;
}

div.column-inner {
height:130px;
}

.column-sb { text-align:center; }

.col-1 {
	flex-grow: 1;
	flex-basis: 0;
	text-align: right;
	padding-right: 10px;
}
.col-2 {
	flex-grow: 1;
	flex-basis: 0;
	text-align: left;
	padding-left: 10px;
}

.column-komanda {
height: 365px;
width: 289px;
margin-left: 50px;
background-repeat: no-repeat;
}

.third-section { margin-top: 25px; }

.third-section-sapnu-banka, .fifth-section-sapnu-banka {
	padding-top: 100px;
	padding-bottom: 60px;
	background-size: 100% 100%;
} 

.third-section-iedvesmas-stasti {
margin-top: 100px;	
margin-bottom: 100px; 
clear: both;
}

.third-section-sapnu-banka p, .fifth-section-sapnu-banka p {
font-family: "Montserrat";
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
text-align: center;

color: #ffffff;
}

.third-section h3, .sixth-section-sapnu-banka {
margin-top:125px;
margin-bottom:40px;
font-family: "Oswald";
font-style: normal;
font-weight:500;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #2f4858;
}

.sixth-section-sapnu-banka {
	margin-bottom: 100px;
}

.third-section-ideja h5 {
font-family: "Oswald";
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
display: flex;
align-items: center;

color: #2F4858;
}

.ts-ideja-p1 {	
margin-top: -30px;	
font-family: "Montserrat";
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;

color: #2F4858;
}

.ts-ideja-p2 {
margin-top: 33px;
width: 92%;
font-family: "Montserrat";
font-style: italic;
font-weight: normal;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;

color: #2F4858;
}

.third-section-piesaki-sapni {
	position: relative;
	height: 400px;
	margin-bottom: 100px;
}

.button-sapnis, .collapse-btn {
position: absolute;
width: 233px;
height: 50px;
font-family: 'Montserrat', sans-serif;
font-weight: 500;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
left: 50%;
 transform: translateX(-50%);
border-radius:100px;
bottom: 0;
cursor: pointer;
color: #FFFFFF;
background: #FFA800;
}

.button-sapnis:hover {
background: #FFDA16;
}

@media screen and (min-width: 800px) {
.collapse-btn {
	display: none;
	}
}

@media screen and (max-width: 799px) {
.collapse.btn {
	display: block;
	bottom: 0;
	}
.collapse-stasti {
	display: none;
	}
}

.fourthSection h2, .fourth-section-piesaki-sapni h2, .second-section-uznemejiem h2 {
margin-top:150px;
margin-bottom:50px;

font-family: 'Oswald', sans-serif;
font-weight:500;
font-size: 30px;
line-height: 44px;
text-align: center;

color: #2F4858;
}

.fourth-section-piesaki-sapni, .second-section-uznemejiem { margin-bottom: 200px; }

.sutit-sapni-1 {
margin: auto;
font-family: "Montserrat";
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
text-align: center;

color: #ffa800;
}

.sutit-sapni-2 {
margin: auto;	
font-family: "Montserrat";
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: center;

color: #ffa800;
}

.appear-text {
	display: none;
}

.formWrapper {
margin:auto;
width:45%;
}

.text-input, textarea {
font-family: 'Montserrat', sans-serif;
font-weight: normal;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
letter-spacing: -0.015em;
height: 43px;
margin-bottom:10px;
padding-top:5px;
padding-left:13px;
width:100%;
border:none;
border-radius: 6px;
background: rgba(196, 196, 196, 0.4);
color: #2F4858;
}

div.columnLeft1 {
padding-right:15px;
}

@media screen and (min-width:881px) {
div.columnRight1 {
	padding-left:15px;
 }
}

.textarea {
display:block;
height:232px;
resize: none;
}

p.mustfill {
font-family: 'Montserrat', sans-serif;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #2F4858;
}
.checkbox{
opacity:0;
margin-top:12px;
}

.checkbox1 {
width: 16px;
height: 16px;
margin-left: -20px;
margin-right:15px;
border-radius: 3px;
background: #E7E7E7;
}

.list-item {
display:inline-block;
margin-top:5px;
margin-bottom:12px;

font-family: 'Montserrat', sans-serif;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #2F4858;
}
label {
width: 90%;
display: block;
white-space: nowrap;
}

label span {
position:relative;
vertical-align: top;
display:inline-block;
white-space:normal;
margin-top:10px;

}

.button4 {
position: absolute;
width: 182px;
height: 62px;

font-family: 'Montserrat', sans-serif;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
left: 50%;
 transform: translateX(-50%);
border-radius:100px;
color: #FFFFFF; 
background: #FFA800;
cursor:pointer;
margin-top:30px;
}

.button4:hover {
background: #FFDA16;
}

.fifthSection {
margin-top:242px;
padding-top: 75px;
height: 533.32px;
background-size: 100%;
}

.rippedUp3 {
width:100%;
}

.fifthSection h3{
font-family: 'Oswald', sans-serif;
font-weight: 500;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #2F4858;
} 

div.logoRow {
display: flex;
flex-wrap: wrap;
width:100%;
margin-top: 90px;
}

.logoColumn {
width: 50%;
float:left;
}

.leftside-logos {
width:50%;
}

.rightside-logos {
width:50%;
float:left;
}

@media screen and (max-width: 880px) {
  .leftside-logos {
   width: 100%;
  }

  .logocolumn {
	width: 50%;
  }

   .rightside-logos {
   width: 100%;
   margin-top: 25px;
  }
}

div.logo1 {
 display: block;
 text-align: center;
}

div.logo2 {
display: block;
text-align: center;
}

div.logo3 {
display: block;
text-align: center;
}

div.logo4 {
display: block;
text-align: center;
}

.footer {
background: #2F4858;
}

.footer-column {
flex-grow:1;
flex-basis:0;
}

.footer-leftlogo {
margin-left: 10%;
margin-top: 7%;
}

.footer-navigation {
margin-top:5px;
}

.footer-navigation li {
margin-top:15px;
}

.footer-navigation a, .footer-text {
font-family: 'Montserrat', sans-serif;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
}
.footer-col-right1 {
	margin-left:20px;
}

.footer-col-right1 p {
}

.footer-col-right2 {
	margin-right:20px;
}

.footer-col-right2 p {
	text-align:right;
}

.heading {
font-family: 'Montserrat', sans-serif;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
}

.footer-icon {
float:right;
margin-left:30px;
}

.copyright {
font-family: 'Montserrat', sans-serif;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
}

.privatuma-politika {
font-family: 'Montserrat', sans-serif;
font-size: 14px;
line-height: 17px;
float:right;
color: #FFFFFF;
}

.footer-bottom div {
	height:25px;
	clear:both;
}

.scroll-down, .scroll-down-appear{
	width: 50px;
	height: 50px;
	position: fixed;
	top: 150px;
	right:15px;
	z-index:4;
}

.scroll-down {
	visibility: hidden;
}

.scroll-down-appear {
	visibility: visible;
}

.scrollDown-icon:hover {
	color: #FFDA16;
}

/* Zemāk mobile view properties*/

.navigation-toggler {
color: #000000;
background: #FFFFFF;
border-color: rgba(0,0,0,.1);
cursor: pointer;
}

.navigation-toggler-icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-logo {
margin-left: 62px;
}

.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay-content a {
font-family: 'Montserrat', sans-serif;
font-weight: 500;
 font-size: 18px;
 line-height: 22px;
 text-align: center;
 padding: 10px;
 text-decoration: none;
 color: #000000;
 display: block;
 transition: 0.3s;
}

.overlay .closebtn {
	position: absolute;
	top: 0;
	right:35px;
	font-size:50px;
	color: #000000;
}

@media screen and (max-height: 450px) {
  .overlay a {
  font-size: 20px
 }
  .overlay {
  font-size: 18px;
  top: 15px;
  right: 35px;
  color: #000000;
	}
  }

  @media screen and (max-width: 880px) {
   .navigation-inner{
	visibility: hidden;
  }
 }

   @media screen and (min-width: 880px) {
   .navigation-toggler {
	display: none;
   }
 }
    @media screen and (max-width: 889px) { 
	.navigation-toggler {
	position: absolute;
	display: block;
	top: 20px;
	right: 10px;
 }
}

/* Zemak 2 section properties */
@media only screen and (max-width: 880px) {
.images-mobile {
	padding-top: 5px;
 }
 .thirdFourthImage-mobile {
 	width: 40%;
	float:left;
 }
  .thirdImage-mobile {
	height: 87px;
	background-repeat: no-repeat;
	background-size: cover;
 }
 .fourthImage-mobile {
	height: 87px;
	background-repeat: no-repeat;
	background-size: cover;
 }
 .fifthImage-mobile {
	float:right;
 	width: 60%;
	height: 174px;
	background-repeat: no-repeat;
	background-size: cover;
 }
 .firstImage-mobile {
	float:left;
	width: 51%;
	height: 183px;
	background-repeat: no-repeat;
	background-size: cover;
 }
  .secondImage-mobile {
	float:left;
  	width: 49%;
	height: 183px;
	background-repeat: no-repeat;
	background-size: cover;
 }

 .secondSection {
	height: 363px;
 }
}

/* Zemak footer properties */
@media screen and (max-width: 880px) {
   .footer-navigation, .footer-col-right1{
   display:none;
  }
 }

 @media screen and (min-width: 881px) {
   .rekviziti-mobile{
   display:none;
  }
 }

 @media screen and (max-width: 880px) {
   .rekviziti-mobile{
   display:block;
  }

  .rekviziti {
   font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 17px;
   color: #FFFFFF;
  }
 }

 @media screen and (max-width: 880px) {
	.footer-column {
	position: relative;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
  }

  .footer-leftlogo {
  margin-left: 0%;
  }

  .footer-col-right2 p {
	text-align:left;
  }

  .footer-icon {
  float:left;
  margin: auto;
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  }

  .copyright {
	margin-top: 120px;
  }

  .privatuma-politika {
	float:left;
  }
  .footer-bottom {
	margin-left: 15px;
	margin-right: 15px;
  }
}

.img-juris {
	width:100%;
}
/*  CSS beigas */
